html {
  margin: 0;
  padding: 0;
  background-color: azure;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid black;
  box-shadow: 10px 7px 9px navy;
  width: 32%;
  font-size: 35px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

header h2 {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid black;
  box-shadow: 10px 7px 9px navy;
  width: 32%;
  font-size: 35px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;

}

#tiles {
  height: 480px;
  width: 480px;
  border: black 5px solid;
  text-align: center;
  padding-top: 10px;
}

#tiles canvas {
  height: 150px;
  width: 150px;
  background-color: #FEEEE6;
  border: black 1px solid;
}

#tiles canvas:hover {
  background-color: skyblue;
  border-color: cornsilk;
  transform: scale(1.03);
}

.btn {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 25px;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 50px;
  border: 1px solid black;
  box-shadow: 10px 7px 9px navy;
  font-weight: bold;
  margin-top: 15px;

}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  opacity: 0;
  top: 0;
  right: -20px; 
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 400px) {
  header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12%;
    margin-bottom: 10%;
  }
  header h1 {
    width: 100%;
    font-size: 20px;

  }
  header h2 {
    width: 100%;
    font-size: 20px;
  }
  #tiles {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  #tiles canvas {
    width: 80px;
    height: 90px;
    padding: 2px;
  }
  .btn {
    margin-left: 0;
    font-size: 18px;
    width: 60%;
    margin-top: 12px;
    height: 50px;
  }
}
@media (min-width: 401px) and (max-width: 800px) {
  header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12%;
    margin-bottom: 10%;
  }
  header h1 {
    width: 100%;
    font-size: 25px;

  }
  header h2 {
    width: 100%;
    font-size: 25px;
  }
  #tiles {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  #tiles canvas {
    width: 100px;
    height: 100px;
  }
  .btn {
    margin-left: 0;
    font-size: 25px;
    width: 60%;
    margin-top: 12px;
    height: 50px;
  }
}